
html {
  --color-accent: skyblue;
  accent-color: var(--color-accent);
}
nav a:hover {
  margin-bottom: auto;
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: skyblue;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
}

ul {
  display: contents;
}

li {
  display: contents;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}

a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

.current {
  margin-bottom: auto;
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}

.Click {
  text-decoration: underline;
  color: #0000EE;
}

input {
  font: inherit;
}

textarea {
  font: inherit;
}

button {
  font: inherit;
}

/* form {
  input, textarea, button {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  label, button {
    display: block;
    margin-block: 0.8em 0;
  }
} */

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  label {
    display: grid;
    grid-template-columns: subgrid;
  }
  button {
    grid-column: 1 / -1;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
  
  .project-image {
    width: 100%;
    height: auto;
  }
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}

h2 {
  margin: 0;
}

label.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font: 80%;
  font-family: inherit;
}

#profile-stats {
  dl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  dt {
    font-size: 1rem;
    text-transform: uppercase;
    color: #6b7280; /* gray-500 like in Tailwind */
    grid-row: 1;
  }
  
  dd {
    font-size: 1.5rem;
    font-weight: 330;
    margin: 0;
    grid-row: 2;
  }
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}

.swatch {
  display: inline-block;
  align-items: center;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: var(--color);
}

.legend {
  display: grid;
  border: 1px solid #6b7280;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  padding: 0.5em;
  margin: 1.5em;
  gap: 0.1em;
  flex: 1;
  align-items: flex-end;
}

.legend_item {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.container {
  display: flex;
  align-items: center;
  gap: 2em;
}

.searchBar {
  width: 100%;
  padding: 0.5em;
  font-size: 16px;
  border: 1px solid;
  margin-bottom: 2em;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
  cursor: pointer;
}

.selected {
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
  }
}

.selected_legend_item {
  display: flex;
  --color: oklch(60% 45% 0) !important;
  align-items: center;
  gap: 0.3em;
}