
html {
  --color-accent: skyblue;
  accent-color: var(--color-accent);
}
nav a:hover {
  margin-bottom: auto;
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: skyblue;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
}

ul {
  display: contents;
}

li {
  display: contents;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
  }
}


.current {
  margin-bottom: auto;
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}

.Click {
  text-decoration: underline;
  color: #0000EE;
}

input {
  font: inherit;
}

textarea {
  font: inherit;
}

button {
  font: inherit;
}

/* form {
  input, textarea, button {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  label, button {
    display: block;
    margin-block: 0.8em 0;
  }
} */

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  label {
    display: grid;
    grid-template-columns: subgrid;
  }
  button {
    grid-column: 1 / -1;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
  
  .project-image {
    width: 100%;
    height: auto;
  }
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}

h2 {
  margin: 0;
}

label.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font: 80%;
  font-family: inherit;
}

#profile-stats {
  dl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  dt {
    font-size: 1rem;
    text-transform: uppercase;
    color: #6b7280; /* gray-500 like in Tailwind */
    grid-row: 1;
  }
  
  dd {
    font-size: 1.5rem;
    font-weight: 330;
    margin: 0;
    grid-row: 2;
  }
}

#stats {
  dl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  dt {
    font-size: 1rem;
    text-transform: uppercase;
    color: #6b7280; /* gray-500 like in Tailwind */
    grid-row: 1;
  }
  
  dd {
    font-size: 1.5rem;
    font-weight: 330;
    margin: 0;
    grid-row: 2;
  }
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}

.swatch {
  display: inline-block;
  align-items: center;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: var(--color);
}

.legend {
  display: grid;
  border: 1px solid #6b7280;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  padding: 0.5em;
  margin: 1.5em;
  gap: 0.1em;
  flex: 1;
  align-items: flex-end;
}

.legend_item {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.container {
  display: flex;
  align-items: center;
  gap: 2em;
}

.searchBar {
  width: 100%;
  padding: 0.5em;
  font-size: 16px;
  border: 1px solid;
  margin-bottom: 2em;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
  cursor: pointer;
}

.selected {
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
  }
}

.selected_legend_item {
  display: flex;
  --color: oklch(60% 45% 0) !important;
  align-items: center;
  gap: 0.3em;
}

.gridlines {
  opacity: 20%;
}

dl.info {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0.5em 1em;
  margin: 0;
  transition-duration: 500ms;
  transition-property: opacity, visibility;
}

dl.info dt,
dl.info dd {
  margin: 0;
}

dl.info dt {
  color: #666; /* Make labels less prominent */
  font-weight: normal;
}

dl.info dd {
  font-weight: bold;
}

.tooltip {
  position: fixed;
  top: 1em;
  left: 1em;
}

circle {
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;
}

circle:hover {
  transform: scale(1.5);
}

#commit-tooltip {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 5px 5px burlywood;
  border-radius: 20%;
  backdrop-filter: blur(3px);
  padding: auto;
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}

circle.selected {
  fill: #ff6b6b;
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: -8; /* 5 + 3 */
  }
}

.selection {
  fill-opacity: 0.1;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}

/* lab 08 */

circle {
  @starting-style {
    r: 0;
  }
}

#files {
  display: grid;
  grid-template-columns: 1fr 4fr;

  > div {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }

  dt {
    grid-column: 1;
  }

  dd {
    grid-column: 2;
  }
}

#files div .loc {
  display: flex;
  width: 0.5em;
  aspect-ratio: 1;
  background: steelblue;
  background-color: var(--color);
  border-radius: 50%;
}

#files dd {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  align-content: start;
  gap: 0.15em;
  padding-top: 0.6em;
  margin-left: 0;
}

#scrolly-1 {
  position: relative;
  display: flex;
  gap: 1rem;

  > * {
    flex: 1;
  }
}

#scatter-story {
  position: relative;
}

#scatter-plot {
  position: sticky;
  top: 0;
  left: 0;
  bottom: auto;
  height: 50vh;
}